@import "./src/styles/bootstrap/scss/bootstrap";
$body-background: rgb(255, 255, 255);
$brand-primary: rgb(0, 0, 0);
$primary-font-size: 14pt;
$secondary-font-size: $primary-font-size / 2.0pt;
$main-content-class: "movie";