<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <title>{{keywords}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=".././public/site.css">
</head>

<body>
    <main>
        <h1>{{keywords}}</h1>
        <form method="post">
        <label for="searchTerm">Search Movie</label>
        <input type="text" id="searchTerm" name="searchTerm"><br><br>
        <input type="submit" value="Submit">
        </form> 
        {{{body}}}
    </main>
</body>

</html>